<div class="container-fluid authenticate-container">
  <h1 align="center">Sign Up</h1>

  <% flash.each do |type, msg| %>
    <div class="alert alert-info" id="flash_<%= type %>">
      <%= msg %>
    </div>
  <% end %>

  <%= render "form", article: @user %>
</div>